:root {
  --main-text-color: #757575;
  --accent-blue-color: #2196f3;
  --main-black-color: #212121;
  --main-white-color: #ffffff;
  --aditional-white-color: rgba(255, 255, 255, 0.6);
  --main-bottun-color: #f5f4fa;
  --social-icon-color: #afb1b8;
  --main-text-font-famaly: 'Roboto', sans-serif;
  --animation-cube: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--main-text-font-famaly);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-black-color);
  text-decoration: none;
}
.accent-logo {
  color: var(--accent-blue-color);
}

nav .nav-link,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-black-color);

  transition: color 250ms var(--animation-cube);
}
.contacts {
  color: inherit;
  transition: color 250ms var(--animation-cube);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-blue-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-list,
.nav-list,
.nav-contacts {
  display: flex;
}
.nav-list {
  margin-left: 93px;
}
.nav-contacts {
  margin-left: auto;
}

.main-nav-list {
  align-items: center;
}

.nav-list .item + .item,
.nav-contacts .item + .item {
  margin-left: 50px;
}
.hdr {
  border-bottom: 1px solid #ececec;
}

.icon-contact {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}
.underline {
  position: relative;
}
.underline::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-blue-color);
  border-radius: 2px;
}

/* section hero */

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.title-hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.botton-hero {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* section features */
.features {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-black-color);
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  border-radius: 4px;
  background-color: var(--main-bottun-color);
  margin-bottom: 30px;
}

/* section works */
.works-title,
.team-title,
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-black-color);
}

.works,
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-list,
.team-list {
  display: flex;
  margin-top: 50px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.works-list > .item + .item {
  margin-left: 30px;
}

.works-list > .item {
  position: relative;
}
.works-item-title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;

  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: var(--main-white-color);

  background: rgba(47, 48, 58, 0.8);
}
/* section team */

.team-list p {
  font-size: 16px;
  line-height: 1.19;
}
.team-list .team-member {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  color: var(--main-black-color);
}

.team {
  background-color: var(--main-bottun-color);
}
.team-list > .item + .item {
  margin-left: 30px;
}

.team-list > .item {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-title {
  padding-top: 30px;
  padding-bottom: 16px;
}

.social-list {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--social-icon-color);
  border-radius: 50%;

  transition: background-color 250ms var(--animation-cube), color 250ms var(--animation-cube);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-blue-color);

  color: var(--main-white-color);
}

.social-list > .item + .item {
  margin-left: 10px;
}

.social-icon {
  fill: currentColor;
}

/* clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--social-icon-color);

  transition: color 250ms var(--animation-cube), border 250ms var(--animation-cube);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-blue-color);
  border: 1px solid var(--accent-blue-color);
}

.client-list > .client-card + .client-card {
  margin-left: 30px;
}
.client-icon {
  fill: currentColor;
}

/* footer */

.ftr {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.ftr .logo {
  display: inline-block;

  color: var(--main-white-color);
}
.contact-info {
  margin-top: 20px;

  font-style: normal;
  color: var(--main-white-color);
}
.contact-link {
  display: flex;
  margin-top: 9px;
  color: var(--aditional-white-color);
  text-decoration: none;

  transition: color 250ms var(--animation-cube);
}

.ftr-nav {
  display: flex;
}
.social-invite {
  margin-top: 12px;
  margin-left: 70px;
}

.social-invite-list {
  display: flex;
  justify-content: center;
}
.social-invitr-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
}
.social-invite-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--animation-cube);
}
.social-invite-link:hover,
.social-invite-link:focus {
  background-color: var(--accent-blue-color);
}
.social-invite-list > .item + .item {
  margin-left: 10px;
}

.social-invite-icon {
  fill: currentColor;
}

.signup-form {
  margin-top: 12px;
  margin-left: 93px;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.signup-button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.signup-form-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.singup-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;

  color: var(--aditional-white-color);

  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list > .item + .item {
  margin-left: 8px;
}

.filter {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--main-black-color);
  background-color: var(--main-bottun-color);
  cursor: pointer;

  transition: background-color 250ms var(--animation-cube), color 250ms var(--animation-cube),
    box-shadow 250ms var(--animation-cube);
}
.filter:hover,
.filter:focus {
  color: var(--main-white-color);
  background-color: var(--accent-blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}
.filter-value {
  font-size: 16px;
  line-height: 1.88;
}

.examples-card-title {
  padding: 20px 24px;
  display: block;
  border: 1px solid #eeeeee;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples > li {
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples > li:nth-of-type(3n) {
  margin-right: 0;
}

.examples > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples > li:hover,
.examples > li:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb::before {
  content: '';

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--animation-cube), opacity 250ms var(--animation-cube);
}

.example-discription {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1, 56;
  color: var(--main-white-color);

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--animation-cube), opacity 250ms var(--animation-cube);
}

.examples > li:hover .example-discription,
.examples > li:hover .product-thumb::before {
  opacity: 1;
  transform: translateY(0);
}

.backdrope {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--animation-cube);
}

.backdrope.is-hidden {
  pointer-events: none;
  opacity: 0;
  /* visibility: hidden; */
}

.backdrope.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  min-width: 528px;
  min-height: 580px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-cube);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-esc-icon {
  fill: currentColor;
  transition: fill 250ms var(--animation-cube);
}
.modal-button:hover .modal-esc-icon,
.modal-button:focus .modal-esc-icon {
  fill: #2196f3;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--main-black-color);
}

.order-form-lable {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.order-form-input {
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 45px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms var(--animation-cube);
}

.order-form-lable:focus-within > .order-form-input,
.order-form-lable:focus-within > .order-form-textarea {
  border: 1px solid var(--accent-blue-color);
}

.order-form-lable:focus-within > .form-icon {
  fill: var(--accent-blue-color);
}

.order-form-textarea {
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms var(--animation-cube);
}

.conditions-link {
  color: var(--accent-blue-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 21px;
  height: 18px;
  width: 18px;
  fill: var(--main-black-color);
  cursor: pointer;

  transition: fill 250ms var(--animation-cube);
}

.order-form-conditions {
  position: relative;

  display: inline-flex;
  align-items: center;

  margin-bottom: 30px;
  padding-left: 36px;
}

.conditions-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  position: absolute;
  left: 12px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  transition: background-image 250ms var(--animation-cube);
}

.conditions-checkbox:checked ~ .checkbox-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
}

.conditions-link {
  margin-left: 5px;
}

.order-form-submit {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: var(--accent-blue-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
